@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;700;900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #323131 !important;
    color: #2b2b2b;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

/*Header*/

.navbar-brand{
    font-size: 25px !important;
    color: #fff !important; 
}

.navbar-logo{
    width:100px;
    height:50px;
}

.navbar-nav a{
    color:#94e13c;
    margin: 0 20px;
}

.navbar-nav a:hover{
    color: #fff;
}

/* Index*/

.main h1{
    margin: 30px 0;
    color: #fff;
}

.main, .main-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    color: #fff !important;
    margin-bottom: 30px;
}

section {
    display: flex;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards img{
    width: 150px;
    height: 200px;
}

.card {
    display: flex;
    max-width: 250px !important;
    min-height: 435px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: snow;
    color: #2b2b2b;
    padding: 5px;
    border-width: 5px !important;
    border-color: #201e1e !important;
    box-shadow:2px 2px 5px 5px #201e1e;
    border-radius: 20px !important;
}

.stats{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card .card-number{
    align-self: flex-end !important;
    font-weight: 900;
    display: block;
    background-color: #958f8f;
    border-radius: 10px;
    padding: 2px;
    color: #fff;
    margin: 2px;
}

.card-body{
    width: 100% !important;
}

.card-title{
    font-weight: 700 !important;
    border-top-style:solid;
    padding-top: 16px !important;
}

.author{
    font-weight: 700;
    font-family: 'Lato', sans-serif;

}

.year{
    display: block;
    border-top-style: double;
    margin-top: 30px !important;
    padding-top: 15px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icons a i{
    color: black;
}

/*Create*/



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}