<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 profile">
                    <img class="profile-img" src="/img/profile.jpg" alt="">
                </div>
                <div class="col-md-6 profile-text">
                    <p class="text-white">
                        Mi nombre es Maximiliano Torres, tengo 32 años y soy de CABA, Argentina.
                        <br>
                        Hace poco mas de una año que empce mi formacion en el mundo de la programacion, comenando de manera autodidacta con Python, y actualmente manejandome mas que nada en el area del FrontEnd con HTML, CSS y Javascript, y tambien en el area de Backend con NodeJs y Express, asi como tambien con Java y Springboot, y tambien en el area de Base de Datos con MySql.
                    </p>
                    <br>
                    <div class="mail">
                        <span class="text-white"><i class="fa-sharp fa-solid fa-envelope"></i></span>
                        <p class="text-white">maxihtorres@gmail.com</p>
                    </div>       
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>