<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-create">
        <h1> Añade tu nuevo Libro a la coleccion!</h1>
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>