<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/header') %>
    <main class="main">
      <h1>Lista de libros que has leido</h1>
      <section class="cards">
          <article class="card">
            <img src="https://www.stephenking.com.ar/wp-content/uploads/2017/02/The-Stand-Doubleday.jpg" alt="">
            <h5>
              The Stand (Apocalipsis)
            </h5>
            <p class="author">
              Stephen King
            </p>
            <p>
              1978
            </p>
          </article>

      </section>
      <%- include('./partials/footer') %>
    </main>
</body>

</html>