<footer>
    <p>Made by Maximiliano Torres&copy;</p>
    <div class="container profile-icons">
        <a href="https://www.linkedin.com/in/maximiliano-hernan-torres/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/MaxiTRR"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>