<header class="header">
        <a href="" class="logo">MAXIMILIANO TORRES</a>
        <div class="nav">
            <a href="/">Inicio</a>
            <a href="/acercade">Acerca del Proyecto</a>
            <a href="">Contactame!</a>
        </div>
</header>